<div class="index">
    <div class="albumlist albumindex">
        <ul>
            <li>
                <div>
                    <a href="/album/mv">
                        <img 
                            src="/images/mv.png" 
                            alt="美女,写真,GIF,GIF出处,电影GIF,美女GIF,邪恶GIF,番号,求出处,老司机,动态图,撸管图,邪恶动态图,papa,后入式" 
                            title="美女,写真,GIF,GIF出处,电影GIF,美女GIF,邪恶GIF,番号,求出处,老司机,动态图,撸管图,邪恶动态图,papa,后入式"
                            class="lazy"
                            />
                        <span>
                        性感美女(300+)
                        </span>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="/album/pa">
                        <img 
                            src="/images/pa.png" 
                            alt="美女写真" 
                            title="美女协整"
                            class="lazy"
                            />
                        <span>
                        邪恶动图(500+)
                        </span>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="/album/gx">
                        <img 
                            src="/images/gx.png" 
                            alt="搞笑动图" 
                            title="搞笑动图"
                            class="lazy"
                            />
                        <span>
                        搞笑动图(600+)
                        </span>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="/novel">
                        <img 
                            src="/images/xs.png"
                            alt="魅力小说" 
                            title="魅力小说"
                            class="lazy"
                            />
                        <span>
                        魅力小说
                        </span>
                    </a>
                </div>
            </li>
        </ul>
        <div class="showmore">资源每天更新，敬请期待...</div>
        <div class="bottomlnk"><a href="/">首页</a></div>
    </div>
</div>