<div class="index">

	<div class="albumlist">
    	<ul>
    		<% for(var i=0; i < imgalmlist.length; i++){ %>
    			<% 
    				var filename = "";
    				var listtitle = "";
    				var imgurl = "";
    				var img0name = "";
    				// 
    				if(urlnav==="mv"){
    					img0name = "1";
						filename = "0.jpg";
    				}
    				if(urlnav==="pa"){
    					img0name = "1";
						filename = "0.jpg";
    				}
    				if(urlnav===""){
    					img0name = "1";
						filename = "0.jpg";
    				}
    				if(urlnav==="gx"){
						img0name = 1;
						var s = i==0?"1":(i+"1")
						filename = s+".gif";
    				}
    				if(urlnav===""){
						listtitle = imgalmlist[i].name;
					}
					if(urlnav==="mv"){
						listtitle = imgalmlist[i].name;
					}
					if(urlnav==="pa"){
						listtitle = imgalmlist[i].name;
					}
					if(urlnav==="gx"){
						listtitle = "搞笑动图第"+(i+1)+"期";
					}
					imgurl = "http://yinuonet-img.oss-cn-beijing.aliyuncs.com/"+urlnav+"/"+imgalmlist[i].albumid+"/"+filename;
					if(urlnav===""){
    					imgurl = "http://yinuonet-img.oss-cn-beijing.aliyuncs.com/"+imgalmlist[i].ty+"/"+imgalmlist[i].albumid+"/"+filename;
    				}
    			%>
    			<% if(urlnav!==""){%>
	            <li>
	            	<div>
	            		<a href="/album/<%= imgalmlist[i].ty%>/<%= imgalmlist[i].albumid%>/<%= img0name%>">
			                <img 
			                	src="<%= imgurl%>" 
			                	alt="美女,写真,GIF,GIF出处,电影GIF,美女GIF,邪恶GIF,番号,求出处,老司机,动态图,撸管图,邪恶动态图,papa,后入式" 
			                	title="美女,写真,GIF,GIF出处,电影GIF,美女GIF,邪恶GIF,番号,求出处,老司机,动态图,撸管图,邪恶动态图,papa,后入式" 
			                	class="lazy"
			                	id="<%= urlnav%>_<%= imgalmlist[i].albumid%>_<%= filename%>"
			                	/>
		                	<span>
		                		<%= listtitle%>
		                	</span>
	                	</a>
	                </div>
	            </li>
	            <% }else{%>
	            <li>
	            	<div>
	            		<a href="/album/<%= imgalmlist[i].ty%>/<%= imgalmlist[i].albumid%>/<%= img0name%>">
			                <img 
			                	src="<%= imgurl%>" 
			                	alt="美女,写真,GIF,GIF出处,电影GIF,美女GIF,邪恶GIF,番号,求出处,老司机,动态图,撸管图,邪恶动态图,papa,后入式" 
			                	title="美女,写真,GIF,GIF出处,电影GIF,美女GIF,邪恶GIF,番号,求出处,老司机,动态图,撸管图,邪恶动态图,papa,后入式" 
			                	class="lazy"
			                	id="<%= urlnav%>_<%= imgalmlist[i].albumid%>_<%= filename%>"
			                	/>
		                	<span>
		                		<%= listtitle%>
		                	</span>
	                	</a>
	                </div>
	            </li>
	            <% } %>
            <% } %>
       	</ul>

       	
       	
       	<div class="showmore">资源每天更新，敬请期待...</div>
       	<div class="bottomlnk"><a href="/">首页</a></div>
       	<div class="bottomlnk"><a href="/album/mv">性感美女</a></div>
       	<div class="bottomlnk"><a href="/album/gx">搞笑动图</a></div>
       	<div class="bottomlnk"><a href="/album/pa">邪恶动图</a></div>
       	<div class="bottomlnk"><a href="/novel">魅力小说</a></div>
    </div>
</div>
<script>
	$(function(){
		$("img.lazy").lazyload();
		var leftnav = $(".leftnav");
		$(".bgwamp").click(function(){
			leftnav.removeClass("shownav");
			leftnav.addClass("hidenav");
		});
		$(".navlnk").click(function(){
			leftnav.removeClass("hidenav");
			leftnav.addClass("shownav");
		});
		$("img.lazy").each(function(){
			var innwidth = window.innerWidth;
			if(innwidth>720){innwidth=720}
			$(this).css("height", ((innwidth-30)/2)+"px");
			$(this).click(function(){
				var id = $(this).attr("id");
				var arrid = id.split("_");
				var urlnav = arrid[0];
				var albumid = arrid[1];
				var filename = arrid[2];


			})
		})
	})
</script>