<!--
datanav : imgdata.imagesdata.nav,
urlnav: urlnav,
albumid: albumid,
imgname: imgname,
imgalmlist : imgdata.imagesdata.data[urlnav],
-->

<div class="images">

    <div class="homelinkdiv">
        <span style="line-height : 40px, color: #999, display: block, font-size: 22px">没有更多图片了</span>
        <a href="/navmain/<%= urlnav%>/" class="homelink">返回首页</a>
    </div>

    <div class="novellist">
        <a name="novellnk"></a>
        <div class="title">
            <span>大家都在看</span>
            <a href="#novellnk" onclick="location.reload()">换一批</a>
        </div>
        <ul>
            <% for(var i=0; i < noveldata.length; i++){ %>
                <li><a href="<%= noveldata[i].url%>" target="_blank"><%= noveldata[i].name%></a></li>
            <% } %>
        </ul>
    </div>

</div>